version: '3'
services:
  # Mongo service
  mongodb:
    image: mongo:latest
    ports:
      - 27017:27017

  # Coin parser service
  parser:
    build:
      context: ./src
    image: parser:latest
    depends_on:
      - mongodb

# add volume